.section{
    border: 1px solid red;
    margin-top:20px;
    width: 400px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(146, 146, 237);
   
}
.section > h3{
    margin-left: 8px;
}
li{
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    border: 0.5px solid red;
    box-shadow: 1px 1px 1px red;
}


















































































































